<!-- authentication/templates/login.html -->
{% extends 'nav.html' %}

{% block title %}File Upload - Home{% endblock %}

{% block content %}
<center>
    <h1 style="margin-top: 100px;">Welcome to File Upload Process</h1> 
    <section>
        <!-- <a href="{% url 'admin:login' %}"><button>Admin</button></a> 
         -->
        <!-- <a href="{% url 'signup' %}"><button>Signup</button></a> -->
        <!-- <a href="{% url 'login' %}"><button>Login</button></a> -->
        <!-- <a href="{% url 'welcome' %}"><button>Welcome</button></a> -->
        <p style="width: 500px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni error totam qui ipsum labore quos odio debitis aspernatur. Blanditiis animi totam maxime atque necessitatibus a vero ex iusto, laborum reiciendis.</p>
        
</section>
    
</center>
{% endblock %}
