{% extends 'nav.html' %}

{% block title %}File Upload - Password Change{% endblock %}

{% block content %}
    <h2>Change Password</h2>
  <form method="post" action="{% url 'password_change' %}">
    {% csrf_token %}
    
    <label for="{{ form.old_password.id_for_label }}">Old Password:</label>
    {{ form.old_password }}
    {{ form.old_password.errors }}
    <br>

    <label for="{{ form.new_password1.id_for_label }}">New Password:</label>
    {{ form.new_password1 }}
    {{ form.new_password1.errors }}
    <br>

    <label for="{{ form.new_password2.id_for_label }}">Confirm New Password:</label>
    {{ form.new_password2 }}
    {{ form.new_password2.errors }}
    <br>

    <button type="submit">Change Password</button>
  </form>
  {% endblock %}

